div {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/* 텍스트가 늘어날수도 있고 줄어들 수도 있는 것을 고려해서 사이즈를 px로 고정하는게 아니라 유동적으로 바뀔 수 있도록 패딩값을 주는 방향으로 개발 */

.box1 {
    padding: 15px;
    border: 3px solid #000;
    background-color: #343F50;
    color: white;
    box-shadow: 4px 4px #4A5568 inset;
}

.box2 {
    padding: 20px;
    border: 5px  dashed rgba(255, 166, 0, 0.534);
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(252,255,151,1) 0%, rgba(255,152,0,1) 100%);
    background-clip: padding-box;
    color: white;
}
/* focus가 outline에도 가기에 사용자에게 혼동을 줄 수 있다.
때문에 background-clip을 추천*/

.box3 {
    padding: 20px;
    border: 3px solid rgba(224, 224, 224, 0.534);
    border-radius: 0 50px 50px;
    box-shadow: 15px 15px 15px 2px rgb(219, 219, 219);
}
